ul {
  list-style: none;
}

h1 {
  text-align: center;
}

.card {
  text-align: center;
  width: 50%;
  margin-top: 10px;
  border-width: 10px;
  border: solid;
  border-color: rgb(14, 221, 221);
}

.map-container {
  height: 50vh;
  width: 50vh;
}

.mapboxgl-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: lightblue;
}

.popup {
  color: maroon;
}

.table {
  border-radius: 4px;
}
