h1 {
  text-align: center;
}

.a-sunny {
  color: rgb(226, 230, 16);
}

.a-rainy {
  color: rgb(199, 21, 21);
}
.card {
  text-align: center;
  width: 50%;
  margin-top: 10px;
  border-width: 10px;
  border: solid;
  border-color: rgb(14, 221, 221);
  background-color: cornflowerblue;
}

.map-container {
  height: 50vh;
  width: 50vh;
}

.mapboxgl-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: lightblue;
}

.popup {
  color: maroon;
}

.table {
  border-radius: 4px;
  color: white;
}

.rainy {
  background-color: lightblue;
  font-size: large;
  font-weight: bold;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1611738740585-3598e06e0f8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1504&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.sunny {
  background-color: linen;
  color: white;
  background-image: url("https://live.staticflickr.com/4701/39962102384_7e11a4c980_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
